version: 2.1

orbs:
  maven: circleci/maven@0.0.12
  codecov: codecov/codecov@1.0.2

workflows:
  maven_test:
    jobs:
      - maven/test # checkout, build, test, and upload test results

jobs:
  build:
    docker:
      - image: circleci/openjdk:latest
    steps:
      - codecov/upload:
          file: target/surefire-reports
      - run: bash <(curl -s https://codecov.io/bash)
